body{
  margin: 0;
  block-size: 100vh;
  display: grid;
  place-content: center;
}
.crown{
  inline-size: 11rem;
  position: relative;
  border-block-start: 10rem solid gold;
  border-inline-start: 2rem solid transparent;
  border-inline-end: 2rem solid transparent;
}
.crown::before{
  content: '';
  position: absolute;
  block-size: 8rem;
  inline-size: 5rem;
  background-color: white;
  border-radius: 50%;
  inset-block-start: -14rem;
  inset-inline-start: -2rem;
  color: white;
  box-shadow: 5rem 0, 10rem 0;
}
.crown::after{
  content: '';
  position: absolute;
  inline-size: 1rem;
  block-size: 1rem;
  background-color: gold;
  color: gold;
  inset-block-start: -8rem;
  border-radius: 50%;
  inset-inline-start: -2rem;
  box-shadow: 4.5rem -2rem, 9.5rem -2rem, 14rem 0;
}
.line{
  inline-size: 11rem;
  block-size: 1.2rem;
  background-color: gold;
  position: absolute;
  inset-block-end: -2rem;
}